<footer class='footer'>
  <div class='container-fluid'>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class='settings-grey-square'></div>
      </li>
      <li>
        <%= link_to 'Вакансии', '#'%>
      </li>
      <li>
        <%= link_to 'Блог', '#' %>
      </li>
    </ul>
  </div>
</footer>

