<footer class='footer'>
  <div class='container-fluid'>
    <table>
      <tbody>
        <tr>
          <td class='col-xs-4 footer-left-column'>
            Дизайн
          </td>
          <td class='col-xs-4 footer-center-column'>
            Реклама
          </td>
          <td class='col-xs-4 footer-right-column'>
            <span>
              <%= link_to 'Вакансии', '#'%>
            </span>
            <span>
              <%= link_to 'Вакансии', '#'%>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</footer>

