<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'App', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Login', root_path %>
      </li>
    </ul>
  </div>
</nav>

