.navbar-brand {
  width: 32px;
  height: 51px;
  background: grey;
}

.navbar-link {
  padding-top: 15px;
  padding-left: 15px;
  max-width: 300px;
}

.login {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 10px;
}

.ya-disk-promo-link {
}

.settings-grey-square {
  width: 32px;
  height: 32px;
  background: grey;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
