<div class="row home-search-row">
  <div class="col-xs-2">
    <div class="home-logo-grey-square">
    </div>
  </div>
  <div class="col-xs-10">
    <div class="">
      <form class="form-inline">
        <%= render 'search_menu' %>
        <div class="form-group search-group">
          <div class="input-group search-input-field">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <button type="" class="btn btn-default">Найти</button>
      </form>
      <p>
        <span>Например</span>
      </p>
    </div>
  </div>
</div>
