<div class="row home-search-row">
  <div class="col-xs-2 left-zero-padding home-logo-grey-square">
  </div>
  <div class="col-xs-10">
    <div class="">
      <form class="form-inline">
        <%= render 'search_menu' %>
        <div class="form-group search-group">
          <div class="input-group search-input-field">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <button type="" class="btn btn-default search-button">Найти</button>
      </form>
      <p class='home-search-example'>
        <span class="pull-left">Например, <span class="grey-text">Хоккей</span></span>
        <span class="pull-right"><%= link_to 'Безопасный Яндекс.Браузер', '#' %></span>
      </p>
    </div>
  </div>
</div>
