<div class="row">
  <div class="col-xs-4">
    <h4>
      <%= link_to "Карта Москвы", '#' %>
    </h4>
    <ul class="no-marks-list home-map-grey-square">
      <li>
        <%= link_to "Красивые места на панорамах", '#' %>
      </li>
      <li>
        <%= link_to "Расписания", '#' %>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4>Погода</h4>
  </div>
  <div class="col-xs-4">
    <h4>Телепрограмма</h4>
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4>Афиша</h4>
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
</div>
