<ul class="no-marks-list">
  <li>
    <%= link_to 'Шпион', '#' %> премьера
  </li>
  <li>
    <%= link_to 'Астрал', '#' %> премьера
  </li>
  <li>
    <%= link_to 'Земля', '#' %> фантастика
  </li>
</ul>
