<ul class="no-marks-list home-map-grey-square">
  <li class="no-margin">
    <%= link_to "Красивые места на панорамах", '#' %>
  </li>
  <li class="no-margin">
    <%= link_to "Расписания", '#' %>
  </li>
</ul>
