<p>
  Биржевые курсы:
  <span class='home-header-finance'>
    <span>
      <%= link_to 'USD', '#'%>
    </span>
    <span class="grey-text">
      +1,52
    </span>
    <span>
      54,30
    </span>
  </span>
  <span class='home-header-finance'>
    <span>
      <%= link_to 'EUR', '#'%>
    </span>
    <span class="grey-text">
      +1,52
    </span>
    <span>
      54,30
    </span>
  </span>
  <span class='home-header-finance'>
    <span>
      <%= link_to 'Нефть', '#'%>
    </span>
    <span class="grey-text">
      +1,52
    </span>
    <span>
      54,30
    </span>
  </span>
</p>
