<table class='home-stock-finance'>
  <tbody>
    <tr class='head'>
      <td></td>
      <td>сегодня</td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to 'USD ЦБ', '#'%> </td>
      <td>53,0590</td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to 'USD ЦБ', '#'%> </td>
      <td>53,0590</td>
      <td></td>
    </tr>
  </tbody>
</table>
