<ul class="no-marks-list">
  <li>09:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
  <li>10:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
  <li>11:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
</ul>
