// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-adv-grey-square {
  margin-top: 40px;
  width: 148px;
  height: 90px;
  background: grey;
}

.home-logo-grey-square {
  width: 178px;
  height: 121px;
  background: grey;
}

.search-group {
  width: 75%;
}

.search-input-field {
  width: 100%;
}

.home-news-row {
  padding-bottom: 30px;
}

.home-search-row {
  padding-bottom: 50px;
}

ol {
  padding-left: 0;
}

.no-marks-list {
  padding-left: 0;

  li {
    list-style: outside none none;
  }
}

.left-zero-padding {
  padding-left: 0px;

  h4, li {
    padding-left: 16px;
  }

  li {
    padding-top: 5px;
  }
}

.home-map-grey-square {
  width: 258px;
  height: 57px;
  background: #d7d7d7;
  padding-left: -10px;
}

.home-search-menu {
  font-size: 1.22em;

  span {
    margin-right: 13px;
  }
}

.ico-weather-grey-square {
  width: 30px;
  height: 30px;
  background: grey;
  display: inline-block;
  margin-bottom: -11px;
  margin-right: 10px;
  margin-left: 10px;
}
