// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share/colors';

li {
  margin-bottom: 6px;
}

ol {
  padding-left: 0;
}


.home-news-datetime {
  font-size: 13px;
  margin-left: 15px;
}

.home-news-header {
  padding-right: 10px;
}

.home-adv-grey-square {
  margin-top: 40px;
  width: 148px;
  height: 90px;
  background: $grey;
}

.home-logo-grey-square {
  max-width: 178px;
  height: 121px;
  background: $grey;
}

.home-search-group {
  width: 75%;
}

.home-search-input-field {
  width: 100%;
}

.home-news-row {
  padding-bottom: 30px;
}

.home-search-row {
  padding-bottom: 50px;
}

.home-map-grey-square {
  width: 258px;
  height: 57px;
  background: $lightGrey;
  padding-left: -10px;
}

.home-search-menu {
  font-size: 1.22em;

  span {
    margin-right: 13px;
  }
}

.home-widgets-row {
  padding-bottom: 25px;
}

.home-stock-finance {
  text-align: right;

  .head {
    font-size: 0.85em;
    td {
      padding-bottom: 0.5em;
    }
  }
  td {
    padding-right: 10px;
  }
}

.home-stock-spacer {
  height: 1px;
  width: 50%;
  background: grey;
  margin: 4px 0;
  min-width: 180px;
}

.home-stock-oil {
  text-align: right;

  .head {
    font-size: 0.85em;
    td {
      padding-bottom: 0.5em;
    }
  }
  td {
    padding-right: 10px;
  }
}

.home-search-example {
  margin-top: 10px;
  width: 85%;
}

.home-header-finance {
  padding-right: 7px;
  padding-left: 7px;
  span {
    padding-right: 2px;
    padding-left: 2px;
  }
}

.home-service-additional-links {
  span {
    padding-right: 10px;
  }
}
